*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: auto;    
    background-image: url(../image/3.jpg);
    background-size: cover;
    user-select: none;
}
.header{
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 999    ;
    display: flex;
    justify-content: center;
    top: 10px;
    
}
.headerFirst{
    width: 35%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    /* box-shadow: 0px 0px 5px 1px rgb(202, 202, 202); */
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    /* box-shadow: 0px 0px 2px 0.5px rgb(14, 28, 54); */

}
.headerFirst p{
    font-size: 50px;
}
.headerSecond{
    width: 60%;
    height: 100px;
    align-items: center;
    text-align: center;
    left: 50%;
}
.headerSecond1{
    width: 100%;
    height: 46px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    /* box-shadow: 0px 0px 5px 1px rgb(202, 202, 202); */
    align-items: center;
    text-align: center;
    margin-top: 1px;
    display: flex;
    /* box-shadow: 0px 0px 2px 0.5px rgb(14, 28, 54); */
}
.headerSecond1txt{
    flex: 1;
    transition: flex 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.headerSecond1txt:hover{
    flex: 1.2;
    transition: flex 0.5s ease-in-out;
}
.headerSecond2{
    margin-top: 5px;
    width: 100%;
    height: 46px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    /* box-shadow: 0px 0px 5px 1px rgb(202, 202, 202); */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 2px 0.5px rgb(14, 28, 54); */
}
.headerSecond2txt1{
    position: absolute;
    animation: headerSecond2txt1Opacity ease-in-out 7s infinite;
    color: black;
    margin: auto;
}
@keyframes headerSecond2txt1Opacity{
    0%{
        color: black;
    }
    25%{
        color: rgba(0, 0, 0, 0);
    }
    50%{
        color: rgba(0, 0, 0, 0);
    }
    75%{
        color: rgba(0, 0, 0, 0);
    }
    100%{
        color: black;
    }
}
.headerSecond2txt2{
    position: absolute;
    animation: ease-in-out 3s infinite;
    color: rgba(0, 0, 0, 0);
    animation: headerSecond2txt2Opacity ease-in-out 7s infinite;
    margin: auto;
}
@keyframes headerSecond2txt2Opacity{
    0%{
        color: rgba(0, 0, 0, 0);
    }
    25%{
        color: rgba(0, 0, 0, 0);
    }
    50%{
        color: rgb(0, 0, 0);
    }
    75%{
        color: rgba(0, 0, 0, 0);
    }
    100%{
        color: rgba(0, 0, 0, 0);
    }
}
.bottom{
    background-color: rgba(23, 29, 82, 0.781);
    margin: auto;
    width: 85%;
    z-index: 999;
    margin-top: 11px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.bottomLine{
    width: 100%;
    height: 1px;
    align-items: center;
    /* background-color: rgb(199, 199, 199); */
    margin: auto;
}
.bottomText1{
    margin: auto;    
    width: 70%;
    margin-top  : 20px;
    color: white;
}
.bottomText2{
    margin: auto;    
    margin-top: 10px;
    width: 60%;
    color: white;
    font-size: 12px;
    padding-bottom: 15px;
}
.middleBack{
    margin-top: 124px; 
    width: 100%;
    display: flex;
    justify-content: center;
}
.middleGrid{
    width: 80%;
    display: grid;
    grid-template-areas: 
    "g1 g1 g1 g1 g1 g1"
    "g2 g2 g2 g2 g2 g2";
    grid-gap: 10px;
}
.middleGrid1{
    border-radius: 10px;
    display: flex;
    grid-area: g1;
    margin: auto;
    height: 208px;   
    justify-content: center;
    text-align: center;
    align-items: center;
}
.middleGrid1-1{
    height: 208px;
    background-color: rgba(35, 144, 194, 0.781);
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.middleGrid1-1 p{
    width: 70%;
    color: rgb(255, 255, 255);
}
.middleGrid1-2{
    height: 208px;
    background-color: rgba(255, 255, 255, 0.781);
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}
.middleGrid1-2 p{
    width: 70%;
    color: rgba(16, 83, 114, 0.781);
}

.middleGrid2{
    border-radius: 10px;
    display: flex;
    grid-area: g2;
    margin: auto;
    height: 208px;   
    justify-content: center;
    text-align: center;
    align-items: center;
}
.middleGrid2-1{
    height: 208px;
    background-color: rgba(255, 255, 255, 0.781);
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.middleGrid2-1 p{
    width: 70%;
    color: rgba(16, 83, 114, 0.781);

}
.middleGrid2-2{
    height: 208px;
    background-color: rgba(35, 144, 194, 0.781);
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}
.middleGrid2-2 p{
    width: 70%;
    color: rgb(255, 255, 255);
}




@media screen and (max-width:730px){
    .headerFirst p{
        font-size: 25px;
    }
    .headerSecond1txt,.headerSecond2txt1,.headerSecond2txt2,.middleGrid1-1 p,.middleGrid1-2 p, .middleGrid2-1 p,.middleGrid2-2 p,.bottomText1{
        font-size: 10px;
    }
    .bottomText2{
        font-size: 7px;
    }
    .headerFirst{
        border-radius: 44px;
    }
}